<div class="register">
  <mat-card class="register__card">
    <mat-card-header>
      <mat-card-title>{{ lbl.welcomeText }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="register__card__form" [formGroup]="registerForm">
      <mat-form-field class="register__card__form__field" color="accent"  appearance="standard" floatLabel="always">
        <mat-label>{{ lbl.nameField }}</mat-label>
        <input matInput autocomplete="off" formControlName="name">
        <mat-error *ngIf="registerForm.get('name').invalid">{{ getFormError('name') }}</mat-error>
      </mat-form-field>
      <mat-form-field class="register__card__form__field" color="accent"  appearance="standard" floatLabel="always">
        <mat-label>{{ lbl.emailField }}</mat-label>
        <input matInput autocomplete="off" formControlName="email">
        <mat-error *ngIf="registerForm.get('email').invalid">{{ getFormError('email') }}</mat-error>
      </mat-form-field>
      <mat-form-field class="register__card__form__field" color="accent"  appearance="standard" floatLabel="always">
        <mat-label>{{ lbl.phoneField }}</mat-label>
        <input type="tel" matInput autocomplete="off" formControlName="phone">
        <mat-error *ngIf="registerForm.get('phone').invalid">{{ getFormError('phone') }}</mat-error>
      </mat-form-field>
      <mat-form-field class="register__card__form__field" appearance="standard" floatLabel="always">
        <mat-label>{{ lbl.password }}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon color="accent">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button class="register__card__form__button" color="accent" (click)="registerUser()">
        {{ lbl.registerButton }}
      </button>
    </mat-card-content>
  </mat-card>
</div>