<div class="home">
  <h1 class="home__welcome">¡Bienvenido!</h1>
  <mat-card class="home__data">
    <mat-card-header>
      <mat-card-title>Información de usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="home__data__user">
        <span class="home__data__user__label">{{ user.name  }}</span>
        <span class="home__data__user__label">{{ user.email  }}</span>
        <span class="home__data__user__label">{{ user.phone  }}</span>
      </section>
    </mat-card-content>
  </mat-card>
</div>