@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0; 
  width: 100vw;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
